<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myworkoutapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.MyWorkoutApp">

        <activity
            android:name=".NewWorkoutActivity"
            android:label="New Workout"
            android:theme="@style/Theme.MyWorkoutApp"
            android:exported="false" />

        <activity
            android:name=".SavedWorkoutActivity"
            android:label="Saved Workout"
            android:theme="@style/Theme.MyWorkoutApp" />

        <activity
            android:name=".BrowseWorkoutActivity"
            android:label="Browse Workout"
            android:theme="@style/Theme.MyWorkoutApp" />

        <activity
            android:name=".ProgressWorkoutActivity"
            android:label="Progress"
            android:theme="@style/Theme.MyWorkoutApp" />

        <activity
            android:name=".InfoActivity"
            android:label="Info"
            android:theme="@style/Theme.MyWorkoutApp" />

        <activity
            android:name=".ExerciseDetailActivity"
            android:label="Exercise Detail"
            android:theme="@style/Theme.MyWorkoutApp"
            android:exported="false" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.MyWorkoutApp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
</manifest>